<?xml version="1.0" encoding="utf-8"?>
<WordDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://services.aonaware.com/webservices/">
  <Word>server</Word>
  <Definitions>
    <Definition>
      <Word>server</Word>
      <Dictionary>
        <Id>foldoc</Id>
        <Name>The Free On-line Dictionary of Computing (27 SEP 03)</Name>
      </Dictionary>
      <WordDefinition>server
     
        1. A program which provides some service to other ({client})
        programs.  The connection between client and server is
        normally by means of message passing, often over a network,
        and uses some {protocol} to encode the client's requests and
        the server's responses.  The server may run continuously (as a
        {daemon}), waiting for requests to arrive or it may be invoked
        by some higher level daemon which controls a number of
        specific servers ({inetd} on {Unix}).  There are many servers
        associated with the Internet, such as those for {Network File
        System}, {Network Information Service} (NIS), {Domain Name
        System} (DNS), {FTP}, {news}, {finger}, {Network Time
        Protocol}.  On Unix, a long list can be found in /etc/services
        or in the {NIS} database "services".  See {client-server}.
     
        2. A computer which provides some service for other computers
        connected to it via a network.  The most common example is a
        {file server} which has a local disk and services requests
        from remote clients to read and write files on that disk,
        often using {Sun}'s {Network File System} (NFS) {protocol} or
        {Novell Netware} on {IBM PC}s.
     
        [{Jargon File}]
     
        (1996-09-08)
     
     
</WordDefinition>
    </Definition>
    <Definition>
      <Word>server</Word>
      <Dictionary>
        <Id>gcide</Id>
        <Name>The Collaborative International Dictionary of English v.0.44</Name>
      </Dictionary>
      <WordDefinition>Server \Serv"er\, n.
   1. One who serves.
      [1913 Webster]

   2. A tray for dishes; a salver. --Randolph.
      [1913 Webster]
</WordDefinition>
    </Definition>
    <Definition>
      <Word>server</Word>
      <Dictionary>
        <Id>jargon</Id>
        <Name>Jargon File (4.3.1, 29 Jun 2001)</Name>
      </Dictionary>
      <WordDefinition>server n. A kind of {daemon} that performs a service for the requester
   and which often runs on a computer other than the one on which the
   requestor/client runs. A particularly common term on the Internet, which
   is rife with `web servers', `name servers', `domain servers', `news
   servers', `finger servers', and the like.


</WordDefinition>
    </Definition>
    <Definition>
      <Word>server</Word>
      <Dictionary>
        <Id>wn</Id>
        <Name>WordNet (r) 2.0</Name>
      </Dictionary>
      <WordDefinition>server
     n 1: a person whose occupation is to serve at table (as in a
          restaurant) [syn: {waiter}]
     2: (court games) the player who serves to start a point
     3: (computer science) a computer that provides client stations
        with access to files and printers as shared resources to a
        computer network [syn: {host}]
     4: utensil used in serving food or drink
</WordDefinition>
    </Definition>
  </Definitions>
</WordDefinition>
