<?xml version="1.0" encoding="utf-8"?>
<WordDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://services.aonaware.com/webservices/">
  <Word>spring</Word>
  <Definitions>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>easton</Id>
        <Name>Easton's 1897 Bible Dictionary</Name>
      </Dictionary>
      <WordDefinition>Spring
   (Heb. 'ain, "the bright open source, the eye of the landscape").
   To be carefully distinguished from "well" (q.v.). "Springs"
   mentioned in Josh. 10:40 (Heb. 'ashdoth) should rather be
   "declivities" or "slopes" (R.V.), i.e., the undulating ground
   lying between the lowlands (the shephelah) and the central range
   of hills.
   
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>foldoc</Id>
        <Name>The Free On-line Dictionary of Computing (27 SEP 03)</Name>
      </Dictionary>
      <WordDefinition>SPRING
     
        {String PRocessING language}
     
     
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>gazetteer</Id>
        <Name>U.S. Gazetteer (1990)</Name>
      </Dictionary>
      <WordDefinition>Spring, TX (CDP, FIPS 69596)
  Location: 30.06194 N, 95.38381 W
  Population (1990): 33111 (11469 housing units)
  Area: 61.8 sq km (land), 0.1 sq km (water)
  Zip code(s): 77373, 77386, 77388, 77389
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>gcide</Id>
        <Name>The Collaborative International Dictionary of English v.0.44</Name>
      </Dictionary>
      <WordDefinition>Spring \Spring\ (spr[i^]ng), v. i. [imp. {Sprang} (spr[a^]ng) or
   {Sprung} (spr[u^]ng); p. p. {Sprung}; p. pr. &amp; vb. n.
   {Springing}.] [AS. springan; akin to D. &amp; G. springen, OS. &amp;
   OHG. springan, Icel. &amp; Sw. springa, Dan. springe; cf. Gr.
   spe`rchesqai to hasten. Cf. {Springe}, {Sprinkle}.]
   [1913 Webster]
   1. To leap; to bound; to jump.
      [1913 Webster]

            The mountain stag that springs
            From height to height, and bounds along the plains.
                                                  --Philips.
      [1913 Webster]

   2. To issue with speed and violence; to move with activity;
      to dart; to shoot.
      [1913 Webster]

            And sudden light
            Sprung through the vaulted roof.      --Dryden.
      [1913 Webster]

   3. To start or rise suddenly, as from a covert.
      [1913 Webster]

            Watchful as fowlers when their game will spring.
                                                  --Otway.
      [1913 Webster]

   4. To fly back; as, a bow, when bent, springs back by its
      elastic power.
      [1913 Webster]

   5. To bend from a straight direction or plane surface; to
      become warped; as, a piece of timber, or a plank,
      sometimes springs in seasoning.
      [1913 Webster]

   6. To shoot up, out, or forth; to come to the light; to begin
      to appear; to emerge; as a plant from its seed, as streams
      from their source, and the like; -- often followed by up,
      forth, or out.
      [1913 Webster]

            Till well nigh the day began to spring. --Chaucer.
      [1913 Webster]

            To satisfy the desolate and waste ground, and to
            cause the bud of the tender herb to spring forth.
                                                  --Job xxxviii.
                                                  27.
      [1913 Webster]

            Do not blast my springing hopes.      --Rowe.
      [1913 Webster]

            O, spring to light; auspicious Babe, be born.
                                                  --Pope.
      [1913 Webster]

   7. To issue or proceed, as from a parent or ancestor; to
      result, as from a cause, motive, reason, or principle.
      [1913 Webster]

            [They found] new hope to spring
            Out of despair, joy, but with fear yet linked.
                                                  --Milton.
      [1913 Webster]

   8. To grow; to thrive; to prosper.
      [1913 Webster]

            What makes all this, but Jupiter the king,
            At whose command we perish, and we spring? --Dryden.
      [1913 Webster]

   {To spring at}, to leap toward; to attempt to reach by a
      leap.

   {To spring forth}, to leap out; to rush out.

   {To spring in}, to rush in; to enter with a leap or in haste.
      

   {To spring on} or {To spring upon}, to leap on; to rush on
      with haste or violence; to assault.
      [1913 Webster]
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>gcide</Id>
        <Name>The Collaborative International Dictionary of English v.0.44</Name>
      </Dictionary>
      <WordDefinition>Spring \Spring\, n. [AS. spring a fountain, a leap. See
   {Spring}, v. i.]
   1. A leap; a bound; a jump.
      [1913 Webster]

            The prisoner, with a spring, from prison broke.
                                                  --Dryden.
      [1913 Webster]

   2. A flying back; the resilience of a body recovering its
      former state by its elasticity; as, the spring of a bow.
      [1913 Webster]

   3. Elastic power or force.
      [1913 Webster]

            Heavens! what a spring was in his arm! --Dryden.
      [1913 Webster]

   4. An elastic body of any kind, as steel, India rubber, tough
      wood, or compressed air, used for various mechanical
      purposes, as receiving and imparting power, diminishing
      concussion, regulating motion, measuring weight or other
      force.
      [1913 Webster]

   Note: The principal varieties of springs used in mechanisms
         are the {spiral spring} (Fig. a), the {coil spring}
         (Fig. b), the {elliptic spring} (Fig. c), the
         {half-elliptic spring} (Fig. d), the {volute spring},
         the {India-rubber spring}, the {atmospheric spring},
         etc.
         [1913 Webster]

   5. Any source of supply; especially, the source from which a
      stream proceeds; an issue of water from the earth; a
      natural fountain. ``All my springs are in thee.'' --Ps.
      lxxxvii. 7. ``A secret spring of spiritual joy.''
      --Bentley. ``The sacred spring whence right and honor
      streams.'' --Sir J. Davies.
      [1913 Webster]

   6. Any active power; that by which action, or motion, is
      produced or propagated; cause; origin; motive.
      [1913 Webster]

            Our author shuns by vulgar springs to move
            The hero's glory, or the virgin's love. --Pope.
      [1913 Webster]

   7. That which springs, or is originated, from a source; as:
      (a) A race; lineage. [Obs.] --Chapman.
      (b) A youth; a springal. [Obs.] --Spenser.
      (c) A shoot; a plant; a young tree; also, a grove of
          trees; woodland. [Obs.] --Spenser. Milton.
          [1913 Webster]

   8. That which causes one to spring; specifically, a lively
      tune. [Obs.] --Beau. &amp; Fl.
      [1913 Webster]

   9. The season of the year when plants begin to vegetate and
      grow; the vernal season, usually comprehending the months
      of March, April, and May, in the middle latitudes north of
      the equator. ``The green lap of the new-come spring.''
      --Shak.
      [1913 Webster]

   Note: Spring of the astronomical year begins with the vernal
         equinox, about March 21st, and ends with the summer
         solstice, about June 21st.
         [1913 Webster]

   10. The time of growth and progress; early portion; first
       stage; as, the spring of life. ``The spring of the day.''
       --1 Sam. ix. 26.
       [1913 Webster]

             O how this spring of love resembleth
             The uncertain glory of an April day. --Shak.
       [1913 Webster]

   11. (Naut.)
       (a) A crack or fissure in a mast or yard, running
           obliquely or transversely.
       (b) A line led from a vessel's quarter to her cable so
           that by tightening or slacking it she can be made to
           lie in any desired position; a line led diagonally
           from the bow or stern of a vessel to some point upon
           the wharf to which she is moored.
           [1913 Webster]

   {Air spring}, {Boiling spring}, etc. See under {Air},
      {Boiling}, etc.

   {Spring back} (Bookbinding), a back with a curved piece of
      thin sheet iron or of stiff pasteboard fastened to the
      inside, the effect of which is to make the leaves of a
      book thus bound (as a ledger or other account or blank
      book) spring up and lie flat.

   {Spring balance}, a contrivance for measuring weight or force
      by the elasticity of a spiral spring of steel.

   {Spring beam}, a beam that supports the side of a paddle box.
      See {Paddle beam}, under {Paddle}, n.

   {Spring beauty}.
       (a) (Bot.) Any plant of the genus {Claytonia}, delicate
           herbs with somewhat fleshy leaves and pretty
           blossoms, appearing in springtime.
       (b) (Zo["o]l.) A small, elegant American butterfly
           ({Erora l[ae]ta}) which appears in spring. The hind
           wings of the male are brown, bordered with deep blue;
           those of the female are mostly blue.

   {Spring bed}, a mattress, under bed, or bed bottom, in which
      springs, as of metal, are employed to give the required
      elasticity.

   {Spring beetle} (Zo["o]l.), a snapping beetle; an elater.

   {Spring box}, the box or barrel in a watch, or other piece of
      mechanism, in which the spring is contained.

   {Spring fly} (Zo["o]l.), a caddice fly; -- so called because
      it appears in the spring.

   {Spring grass} (Bot.), vernal grass. See under {Vernal}.

   {Spring gun}, a firearm discharged by a spring, when this is
      trodden upon or is otherwise moved.

   {Spring hook} (Locomotive Engines), one of the hooks which
      fix the driving-wheel spring to the frame.

   {Spring latch}, a latch that fastens with a spring.

   {Spring lock}, a lock that fastens with a spring.

   {Spring mattress}, a spring bed.

   {Spring of an arch} (Arch.) See {Springing line of an arch},
      under {Springing}.

   {Spring of pork}, the lower part of a fore quarter, which is
      divided from the neck, and has the leg and foot without
      the shoulder. [Obs.] --Nares.

            Sir, pray hand the spring of pork to me. --Gayton.

   {Spring pin} (Locomotive Engines), an iron rod fitted between
      the springs and the axle boxes, to sustain and regulate
      the pressure on the axles.

   {Spring rye}, a kind of rye sown in the spring; -- in
      distinction from winter rye, sown in autumn.

   {Spring stay} (Naut.), a preventer stay, to assist the
      regular one. --R. H. Dana, Jr.

   {Spring tide}, the tide which happens at, or soon after, the
      new and the full moon, and which rises higher than common
      tides. See {Tide}.

   {Spring wagon}, a wagon in which springs are interposed
      between the body and the axles to form elastic supports.
      

   {Spring wheat}, any kind of wheat sown in the spring; -- in
      distinction from winter wheat, which is sown in autumn.
      [1913 Webster]
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>gcide</Id>
        <Name>The Collaborative International Dictionary of English v.0.44</Name>
      </Dictionary>
      <WordDefinition>Spring \Spring\ (spr[i^]ng), v. t.
   1. To cause to spring up; to start or rouse, as game; to
      cause to rise from the earth, or from a covert; as, to
      spring a pheasant.
      [1913 Webster]

   2. To produce or disclose suddenly or unexpectedly; as, to
      spring a surprise on someone; to spring a joke.
      [1913 Webster]

            She starts, and leaves her bed, and springs a light.
                                                  --Dryden.
      [1913 Webster]

            The friends to the cause sprang a new project.
                                                  --Swift.
      [1913 Webster]

   3. To cause to explode; as, to spring a mine.
      [1913 Webster]

   4. To crack or split; to bend or strain so as to weaken; as,
      to spring a mast or a yard.
      [1913 Webster]

   5. To cause to close suddenly, as the parts of a trap
      operated by a spring; as, to spring a trap.
      [1913 Webster]

   6. To bend by force, as something stiff or strong; to force
      or put by bending, as a beam into its sockets, and
      allowing it to straighten when in place; -- often with in,
      out, etc.; as, to spring in a slat or a bar.
      [1913 Webster]

   7. To pass over by leaping; as, to spring a fence.
      [1913 Webster]

   8. To release (a person) from confinement, especially from a
      prison. [colloquial]
      [PJC]

   {To spring a butt} (Naut.), to loosen the end of a plank in a
      ship's bottom.

   {To spring a leak} (Naut.), to begin to leak.

   {To spring an arch} (Arch.), to build an arch; -- a common
      term among masons; as, to spring an arch over a lintel.

   {To spring a rattle}, to cause a rattle to sound. See
      {Watchman's rattle}, under {Watchman}.

   {To spring the luff} (Naut.), to ease the helm, and sail
      nearer to the wind than before; -- said of a vessel.
      --Mar. Dict.

   {To spring a mast} or {To spring a spar} (Naut.), to strain
      it so that it is unserviceable.
      [1913 Webster]
</WordDefinition>
    </Definition>
    <Definition>
      <Word>spring</Word>
      <Dictionary>
        <Id>wn</Id>
        <Name>WordNet (r) 2.0</Name>
      </Dictionary>
      <WordDefinition>spring
     n 1: the season of growth; "the emerging buds were a sure sign of
          spring"; "he will hold office until the spring of next
          year" [syn: {springtime}]
     2: a natural flow of ground water [syn: {fountain}, {outflow},
        {outpouring}, {natural spring}]
     3: a metal elastic device that returns to its shape or position
        when pushed or pulled or pressed; "the spring was broken"
     4: a light springing movement upwards or forwards [syn: {leap},
         {leaping}, {saltation}, {bound}, {bounce}]
     5: the elasticity of something that can be stretched and
        returns to its original length [syn: {give}, {springiness}]
     6: a point at which water issues forth
     v 1: move forward by leaps and bounds; "The horse bounded across
          the meadow"; "The child leapt across the puddle"; "Can
          you jump over the fence?" [syn: {jump}, {leap}, {bound}]
     2: develop into a distinctive entity; "our plans began to take
        shape" [syn: {form}, {take form}, {take shape}]
     3: spring back; spring away from an impact; "The rubber ball
        bounced"; "These particles do not resile but they unite
        after they collide" [syn: {bounce}, {resile}, {take a hop},
         {bound}, {rebound}, {recoil}, {reverberate}, {ricochet}]
     4: produce or disclose suddenly or unexpectedly; "He sprang a
        new haircut on his wife"
     5: develop suddenly; "The tire sprang a leak"
     6: produce or disclose suddenly or unexpectedly; "He sprang
        these news on me just as I was leaving"
     [also: {sprung}, {sprang}]
</WordDefinition>
    </Definition>
  </Definitions>
</WordDefinition>
