<?xml version="1.0" encoding="utf-8"?>
<WordDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://services.aonaware.com/webservices/">
  <Word>springs</Word>
  <Definitions>
    <Definition>
      <Word>springs</Word>
      <Dictionary>
        <Id>gazetteer</Id>
        <Name>U.S. Gazetteer (1990)</Name>
      </Dictionary>
      <WordDefinition>Springs, NY (CDP, FIPS 70387)
  Location: 41.02088 N, 72.15714 W
  Population (1990): 4355 (3459 housing units)
  Area: 21.9 sq km (land), 2.0 sq km (water)
Springs, PA
  Zip code(s): 15562
</WordDefinition>
    </Definition>
  </Definitions>
</WordDefinition>
