<?xml version="1.0" encoding="utf-8"?>
<WordDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://services.aonaware.com/webservices/">
  <Word>app</Word>
  <Definitions>
    <Definition>
      <Word>app</Word>
      <Dictionary>
        <Id>foldoc</Id>
        <Name>The Free On-line Dictionary of Computing (27 SEP 03)</Name>
      </Dictionary>
      <WordDefinition>app
     
        {application program}
     
     
</WordDefinition>
    </Definition>
    <Definition>
      <Word>app</Word>
      <Dictionary>
        <Id>jargon</Id>
        <Name>Jargon File (4.3.1, 29 Jun 2001)</Name>
      </Dictionary>
      <WordDefinition>app /ap/ n. Short for `application program', as opposed to a systems
   program. Apps are what systems vendors are forever chasing developers to
   create for their environments so they can sell more boxes. Hackers tend
   not to think of the things they themselves run as apps; thus, in hacker
   parlance the term excludes compilers, program editors, games, and
   messaging systems, though a user would consider all those to be apps.
   (Broadly, an app is often a self-contained environment for performing
   some well-defined task such as `word processing'; hackers tend to prefer
   more general-purpose tools.) See {killer app}; oppose {tool}, {operating
   system}.


</WordDefinition>
    </Definition>
    <Definition>
      <Word>app</Word>
      <Dictionary>
        <Id>vera</Id>
        <Name>Virtual Entity of Relevant Acronyms (Version 1.9, June 2002)</Name>
      </Dictionary>
      <WordDefinition>APP
     Application Portability Profile
     
     
</WordDefinition>
    </Definition>
  </Definitions>
</WordDefinition>
