.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}
@media (max-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        width:100%;
        float:left;
    }
}
.nopadding {
    padding:0px;
}
.layoutBody {
    background-color:#5C8FBB;
    position:relative;
    float:left;
    width:100%;
    height:100%;
    margin:0px;
    overflow-y:auto;
    padding: 0px !important;
}
.layoutFixedHeader {
    float:left;
    width:100%;
    background-color:#5C8FBB;
    color:white;
    z-index: 5;
}
.layoutHomeHeader {
    background-color:#5C8FBB;
    color:white;
    font-size:100px;
    text-align: center;
    padding: 100px 0px 100px 0px;
    width:100%;
}
@media (max-width:500px) {
    .layoutHomeHeader {
        font-size:70px;
    }
}
.layoutFooter {
    padding:5px;
}
.layoutTitle {
    float:left;
    font-size: 30px;
    padding:5px 15px 5px 15px;
    width: auto;
}
.layoutTaps {
    position:relative;
    float:right;
    font-size: 30px;
    padding:5px 15px 5px 15px;
    width: auto;
}
.layoutBody a {
    color:white;
    text-decoration:none;
}
.layoutContent {
    padding: 0px;
    background-color:rgba(121, 158, 190, 1);
}
.layoutTilesContainer {
    padding: 15px;
}
.layoutContentTiles {
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px white;
}
.layoutContentTilesTitle {
    font-size: 40px;
    padding: 5px;
    border-bottom: 1px solid white;
}
.layoutContentTilesContent {
    color: white;
    padding: 15px;
}
.layoutContentTiles:nth-child(odd) {
    clear:both;
}
.layoutContentTitle {
    width:60%;
    margin:0% 20% 0% 20%;
    padding:10px;
}
.layoutContentBody {

}
.closeButton {
    cursor:pointer;
}
.layoutDropDownToggle {
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0px 0px 4px 1px gray;
    margin: 0px;
    width: auto;
    display: inline-block;
}
.layoutDropDownList {
    padding: 2px 5px 2px 5px;
    width: 100%;
}
.layoutDropDownList:hover{
    background-color:rgb(199, 197, 197);  
}
.layoutOpen {
    display:block;
}
.layoutDynamicList {
    width:80%;
    height:300px;
    overflow:auto;
    background-color: rgb(211, 210, 210);
    padding: 10px;
}
